h1{
    font-family: Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid black;
}

td {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}

.blue {
    background-color: #007BFF;
}

.green {
    background-color: #28A745;
}